<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<title>BenchPrep Developer Assessment</title>
<meta name="description" content="Web Developer coding challege">
<link href="https://fonts.googleapis.com/css?family=Arimo|Raleway" rel="stylesheet">
<link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <img src="benchprep_logo.png" class="logo">
  	<h2>Movie Quotes</h2>
    <div class="buttons_div">
      <button type="button" id="back"><</button>
      <button type="button" id="next">></button>
    </div>
  	<table>
        <thead>
          <tr>
            <th class="wide-header">Quote</th>
            <th class="reg-header">Context</th>
            <th class="reg-header">Source</th>
            <th class="reg-header">Theme</th>
          </tr>
        </thead>
        <tbody class="quotes-list"></tbody>
      </table>
    </div>

  <script type="text/template" class="quotes-list-template">
    <td><span class="quote"><%= quote %></span></td>
    <td><span class="context"><%= context %></span></td>
    <td><span class="source"><%= source %></span></td>
    <td><span class="theme"><%= theme %></span></td>
  </script>

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="script.js"></script>

</body>
</html>