.buttons_div {
	text-align: center;
    margin: 20px;
}
.container {
	max-width: 600px;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
}
h2 {
	text-align: center;
}
.logo {
	display: block;
	margin: 0 auto;
}
table {
	font-family: 'Arimo', sans-serif;
}
td {
	padding-top: 20px;
}
.quotes-list {
    font-size: 11px;
}